{% extends 'store/main.html' %}
{% load static %}
{% block content %}


<div class="container my-2">
  <div class="p-1 m-1">
    <div class="col-lg-7 mx-auto pt-1">
       <div class="box-element " id="form-wrapper">
         <hr><p><h3><b>Contact Us</b></h3></p><hr>
         <form action="{% url 'contactus' %} " method="POST">
           {% csrf_token %}
         <div class="form-group">
            <label >Name</label>
            <input required type="text" class="form-control" placeholder="Your Name" name="first_name"  >
         </div>
         <div class="form-group">
            <label >Email</label>
            <input required type="email" class="form-control " placeholder="Your Email" name="email">
         </div>
         <div class="form-group">
            <label >Subject</label>
            <input required type="text" class="form-control" name="subject"  >
         </div>
         <div class="form-group">
            <label >Elaborate Your Concern</label>
            <textarea required class="form-control" rows="2" name="desc" ></textarea>
         </div>
         <hr>
             <button class="btn btn-danger">Send Message</button>
      </form>
       </div>
    </div>
  </div>
</div>



{% endblock content %}